
.container h1{
    text-align: center;
}

.wraps {
    display: flex;
    width: 100%;
    height: 100%;
}

.price {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}