body,
html {
  height: 100vh;
  margin: 0;
}

.content {
  position: relative;
  height: 100vh;
  background: #f2f2f2;
}

.raindrop {
  position: absolute;
  width: 40px;
  height: 60px;
  background: #ccc;
  clip-path: ellipse(20% 50% at 50% 50%);
  animation: fail 1.2s cubic-bezier(0.62, 0.11, 1, 0.25) infinite;
}

@keyframes fail {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(10px, 100vh, -10px);
  }
}